{% extends "base.html" %} {% block content %}
<h1>My To Do list</h1>

<form method="POST" action="/">
    {% csrf_token %} {{ form.title }}
    <input type="submit" class="btn btn-primary" name="Create Task">
</form> <br> {% for task in tasks %}
<div>
    {% if task.completed %}
    <span><s>{{ task.title }}</span></s> {% else %}
    <span>{{ task.title }}</span> {% endif %}
    <a href="{% url 'update_task' task.id %}" class="btn btn-primary">Update</a>
    <a class="btn btn-primary" href="{% url 'delete' task.id %}">Delete</a> {% endfor %} {% endblock %}
</div>